@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    /* 1 */
    font-size: 62.5%;
    /* 10/16=62.5% */
}
body {
    font-size: 14px;
    line-height: 1.8;
}
ul, ol {
    list-style-type: none;
    list-style-image: none;
}
a {
    text-decoration: none;
    /* 1 */
    background-color: transparent;
    /* 2 */
}
a:active,
a:hover {
    outline-width: 0;
}
